h3 {
	text-align: center;
}

div#main-content {
}

div#test-results {
    padding-top: 20px;
}

div#controls-area {
    text-align: center;
}

div.info-block {
	width: 40%;
	display: inline-block;
	text-align: left;
}

div#test-table {
	padding: 10px;
}

div#js-table {
}

div.bottom-sign {
    text-align: center;
    width: 100%;
    margin-top: 40px;
}

a.custom-link, a.custom-link:visited {
    color: #005a8c;
    text-decoration: none;
}

a.custom-link:hover {
    color: #005a8c;
    text-decoration: underline;
}