h3 {
	text-align: center;
}

div#main-content {
	text-align: center;
}

div#test-results {
    padding-top: 20px;
}

div#controls-area {
    text-align: center;
}

div.info-block {
	width: 40%;
	display: inline-block;
	text-align: left;
}

div.js-table-cell {
	display: inline-block;
	border-left: #000000 solid 1px;
	border-bottom: #000000 solid 1px;
}

div#test-table {
	padding: 10px;
}

div#js-table {
	border-top: #000000 solid 1px;
	border-right: #000000 solid 1px;
	display: inline-block;
}

div.js-table-header-row {
	border-left: #000000 solid 1px;
	border-bottom: #000000 solid 1px;
	padding: 0px;
}

div.js-table-header-row h4 {
	margin: 0px;
	padding: 14px;
}